{% extends "base.html" %}

{% block content %}

<div class=bar_header>Poems</div>

<div class=article>
   <h3>Den of Quills</h3>
    <blockquote>
      <p><em>for Chi, after Neruda</em></p>
    </blockquote>
    <p>  I do not seem to be<br>
      anyone anymore,<br>
      lying on my crushed leaves, in my den of quills.</p>
    <p>Why doesn’t the end end<br>
      when ending is required?<br>
      When the last night<br>
      turns to invisible light<br>
      I will be still and still<br>
      be—with you.</p>
    <p>&#8212;</p>
    <p>I tire of great feeling, Pablo, amigo—<br>
      <em>Silencio</em> and <em>Soledad</em> will never be mine<br>
      in this cacophony of influences.</p>
    <p>Tracks of imposters leading astray,<br>
      The night, intending a deep dark, <br>
      betrayed again by pricking stars, <br>
      dull and hungry as the devouring autumn wind.</p>
    <p>Stop! This <em>cueca</em>—pull up your vivid skirts and show<br>
      the gray significance, shorn of petals, metallic.</p>
    <p>&#8212;</p>
    <p>In things that pertain I still search for pertinence, that comfort.</p>
    <p>&#8212;</p>
    <p>Hot halogen lights only kindle ferocious ironies<br>
      and incandesce in flight your thousand sad arrows,<br>
      your white handkerchiefs.</p>
    <p>&#8212;</p>
    <p>Sweetheart, I’m shaking.<br>
      Words of tears fall from my mouth of eyes.<br>
    </p>

</div>
<div style="margin-top: 6em; font-size: small;">
	<p>Published in <em>Hawai'i Pacific Review</em>, Volume 26, 2012. Republished by permission.</p>
</div> 
{% endblock %}
