{% extends "base.html" %}

{% block content %}

<div class=bar_header>Poems</div>

<div class=article>
  
  <h3>&mdash;&nbsp;Online&nbsp;&mdash;</h3>
  <div class=narrow>
    <p>Published in <em>BlazeVOX</em>: <a href=http://www.blazevox.org/index.php/journal/blazevox17-fall-2017/>Fall 2017</a></p>
    <ul>
      <li><a href="http://www.blazevox.org/BX%20Covers/BXFall2017/_Alan%20Isaacs%20-%20Fall17.pdf">Echoes and Paraphenalia</a></li>
      <li>Flights of Minnows</li>
      <li>My Heart Hurted</li>
      <li>It Over</li>
      <li>A Bruised Meadow, Indistinct</li>
    </ul>
    <p>Published in <em>Connotation Press</em>: <a href="https://www.connotationpress.com/poetry/2144-a-note-from-kaite-hillenbrand-poetry-editor-december-2013">Issue V, Volume V: 2014</a></p>
      <ul>
        <li><a href="http://www.connotationpress.com/poetry/2137-alan-isaacs-poetry">To Have to Hunt for Food</a></li>
        <li>No Twinge of Romance</li>
      </ul>
  </div>
  <h3>&mdash;&nbsp;Print&nbsp;&mdash;</h3>
  <div class=narrow>
      <p>Published in <em>Hawai'i Pacific Review</em>: Volume 26, 2012</p>
      <ul>
        <li><a href="/poems/den_of_quills">Den of Quills</a></li>
      </ul>
  </div>
</div>

{% endblock %}
