{% extends "base.html" %}

{% block content %}

<div class=bar_header>Poems</div>

<div class=article>
  
    <h3>Online</h3>
    <p>Published in <em>Connotation Press</em>: Issue V, Volume V: 2014</p>
    <ul>
      <li><a href="http://www.connotationpress.com/poetry/2137-alan-isaacs-poetry">To Have to Hunt for Food</a></li>
      <li><a href="http://www.connotationpress.com/poetry/2137-alan-isaacs-poetry">No Twinge of Romance</a></li>
    </ul>
    <h3>Print</h3>
    <p>Published in <em>Hawai'i Pacific Review</em>: Volume 26, 2012</p>
    <ul>
      <li><a href="/poems/den_of_quills">Den of Quills</a></li>
    </ul>

</div>

{% endblock %}