{% extends "base.html" %}

{% block content %}

<div class=bar_header>Poetic Manifesto</div>
<table>
<tr>
	<th>ID</th>
	<th>SOUNDBITE</th>
	<th>DESCRIPTION</th>
	<th>NOTES</th>
</tr>
	

<tr><td>1</td>	<td>Introductory remarks, I</td>	<td>THIS document is really: a _primer_, elementary instructions about _how to write_, whose audience is ME, the ego "I", the one trying to make sense of inscrutable existence, often overwhelmed by anxietry and dread, who finds that _writing poetry_ is a WAY OUT of paralyzed silence.</td>	<td>WE are keeping the "Manifesto" in the title because we like the energy, the confidence, and the appeal to a community, even imaginary, beyond the singular I.</td></tr>
<tr><td>2</td>	<td>Introductory remarks, I … I</td>	<td>Specifically, "how to write" means 1) how to generate material, get words down on the page or screen, 2) how to revise the material into that elusive phenomenon, that living entity, a _poem_.</td>	<td>Writing in this sense is the interplay between what is and what could be.</td></tr>
<tr><td>3</td>	<td>Introductory remarks, I … I … I</td>	<td>Generally you will see an oscillation between two positions: 1) something relatively clear, articulated, grounded, and 2) something that emerges in contradistinction to that articulation.</td>	<td>Sometimes the two conflict, sometimes coorperate, sometimes lead to a "third" entity composed of terms like transcendent, ineffable, other. Anyone for four? Eleven?</td></tr>
<tr><td>4</td>	<td>Introductory remarks, IV</td>	<td>Finally, the concept of identity plays a large role here, trying to answer the question, okay, I'm a White Cis-Male Hetero / Neurodiverse / Etc.; how does that "identity" affect how I write?</td>	<td>See also the About page on my related site, exultoshores.com.

		This is a way to ground my abstractions in the material (an abstract way to say, to _make it real_).</td></tr>
<tr><td>5</td>	<td>Research the Consequences of Diction</td>	<td>Love Wikipedia. Addiction in the service of knowledge is not a vice.</td>	<td>Knowledge is good</td></tr>
<tr><td>6</td>	<td>Generate Material</td>	<td>How does something come out of nothing? 

It doesn't matter. Whatever works, for you.</td>	<td>Whatever appears _reenacts_ the fundamental existential question, so you are going to be an existentialist, whether you like it or not.</td></tr>
<tr><td>7</td>	<td>Free Write</td>	<td>Try freewriting, recording whatever comes up, as if in a trance or dream; listen and repeat.</td>	<td>Absolutely without censoring; suspend evaluation, save it for later.

		A certain amount of ""control"" is inevitable; try to make it more a direction/orientation than a goal.</td></tr>
<tr><td>8</td>	<td>Find Objects</td>	<td>Try finding material--words but also images, or anything--wherever you look.</td>	<td>Follow your nose. 

		Or use a framework or ""engine."" [link]</td></tr>
<tr><td>9</td>	<td>Question Identity!</td>	<td>Start by understanding one's identity as "unnatural," as an aggregation (or agression of some oppressor) of potential and shifting positions, all more or less culturally determined. Then question the source of that identity -- where did that meaning originate? What are the consequences?</td>	<td>I suppose we have to bring up the father … who is no more the "real" father than you are his reality any more</td></tr>
<tr><td>10</td>	<td>I" is for "Identity</td>	<td>The "I" has a position. What is it? It WILL show in the poem whether you want it to or not </td>	<td>Uncovering and interrogating assumptions, articulating reasons behind activities.</td></tr>
<tr><td>11</td>	<td>Interrogate the I</td>	<td>Or drown it in its own geneological complexity. Too many slave-owning ancestors? Let's talk about trees! /s

When the shame and complexity overwhelm--let yourself be lost. Keep the mess. You don't have to clean it up. You don't have to be ""right"".</td>	<td>You can't have empathy if you're being self-righteous.

That doesn't me you have to accept the abuse.</td></tr>
<tr><td>12</td>	<td>Fuck Schools!</td>	<td>Some readers make sense of poems by expecting them belong to a ""school"" of some sort, for example""accessible"" (written for a broad audience) or ""academic"" (requiring some prerequisite to understand). Naturally some editors and critics judge quality by how well their expectations are met within these and various other schools and sub-schools.

How tedious and limiting!</td>	<td>""School"" was a big word FIFTY YEARS AGO, c1970. Are they now?

So much of this is me getting bored with c1970.</td></tr>
<tr><td>13</td>	<td>Ignore the Anxiety of Influence</td>	<td>Every line reiterates the past at the same time that it presses into the future: knowledge vies with novelty, ability with practice, culture with chance.

What I'm getting at is psychological--worrying about doing the right thing impedes creativity.

What a WCMH version of aethetics: a war of domination between the individual and the community (defined as prior princes of domination to be challenged). Imagine _belonging_ to a community, leading by consent ...

Nothing kills the creative process faster than imagining a board of authorities (editors, ""successful"" poets) beating you over the head with themselves.

Courage is required.</td>	<td>That phrase is so twentieth century -- reference to a book by Harold Bloom published in 1973 when he was 43. According to Wikipedia [need to drill down] he coined the phrase ""school of resentment"" to describe feelings of those outside the Western Canon who'd like to, um, break in ... i.e. aesthetic ""quality"" is an abstract universal without regard to origin ... the drama of innovation is formal in nature ? ... this from (wikipedia again) ""the most influential English-language critic of the late 20th century"" (no citation)

And above all the whole ""culture war"" of the eighties--now clearly white supremacist in the context of Reaganism--SO BORING, so deep in the past already.

It's salaciously engaging to learn that Bloom liked to f(ondle) his female grad students, from which I conclude, 1) he was a man of his time, so typical 2) the same attitude applies to his criticism: I have the power, I'll trade you some for sex--that is, the WCMH canon will only let you in if you let it fuck you.</td></tr>
<tr><td>14</td>	<td>Escape Elitism</td>	<td>Suspend evaluation [link] -- use the double hyphen for the m-dash that isn't on the keyboard—though there are ways to produce it. Oops, I digress.</td>	<td>Elitism is just the worst.

Even communities that strive for inclusion can be elitist. Universities, for example.

Something here about WCMHs in rural america reacting instinctively to neolib exclusion</td></tr>
<tr><td>15</td>	<td>Avoid Using Grammatical Terms Just to Be Cool</td>	<td>You can attend to the medium without using words that are about the medium.</td>	<td>Hyperconscious awareness of language ought to be the sort of corral the wild horse will one day escape when the surly hungover club-footed cowboy of abstraction forgets to latch the gate.</td></tr>
<tr><td>16</td>	<td>Let intention and randomness play</td>	<td>An intersectional analysis considers all the factors that apply to an individual in combination, rather than considering each factor in isolation.</td>	<td>Wikipedia: intersectionality</td></tr>
<tr><td>17</td>	<td>Automate Desultory Tasks</td>	<td>Oulipo is awesome: The Form is a mechanical constraint on the automatic ... or just revising the material according to an idea ...</td>	<td></td></tr>
<tr><td>18</td>	<td>However, Meaning isn't Free</td>	<td>Imagine a poem that begins by asserting the poet's ""natural identity"" (more on that presently) and ends with an uplifting epiphany:

I am here observing the world and expressing what I see in words
...
and what I see is a metaphor for the sad yet meaningful passage of time.

Don't get me wrong, I like these kind of poems when they succeed ... it's just they hardly ever succeed for me anymore. It's like listening to song after song plagarize the same melody over and over.

I still like epiphanies btw.</td>	<td>Delight is often in the epiphany.

Epiphany _works_ when it leads out of expectation into otherness (this is the most important thing) and everything you ever knew or were expands and evaporates

What some call Joy, or better, the Sublime

Or otherness ... the epiphany twist at the end both embodies and subverts the prior description ... or tries, that whole device can be contextualized and subverted and at some point you become LOST IN CONVOLUTION which is okay ...</td></tr>
<tr><td>19</td>	<td>Fragment Word, Syntax, Intention</td>	<td>How else to express the ineffable?</td>	<td></td></tr>
<tr><td>20</td>	<td>Suspend Emotion</td>	<td>Then Suspend Emotion; use generative devices or concepts to subvert your intention. ""Form invents content."

Materiality is letting the body speak, too.</td>	<td>This is trying to get away from yourself, a most pleasant activity, again like the painter absorbed in the lines coming out of the brush.

Escape identity-as-body</td></tr>
<tr><td>21</td>	<td>Express Emotion</td>	<td>Poetry thrives in the right-brain realm of feeling. No words without emotional validity. Not one!

This may involve a Recession of Reason. Suspend Evaluation.</td>	<td>Exercise the Whole Brain

https://lovepoetrysomuchithurts.blogspot.com/2020/12/chen-chens-twitter-thread-advising.html

Suspend evaluation means simultaneously escaping (oppressive) identity and constructing identity-as-body</td></tr>
<tr><td>22</td>	<td>Remember the one who cannot be counted</td>	<td>Reference to Eliot, the something beyond that comes out of _trauma_, near death, the strangeness, the otherness, 

Not one or two, but the otherness beyond counting …</td>	<td>This one is about finding meaning in trauma--not hiding it, and not reforming it either, but "sublimating" it, skipping a stage in the chemical reaction, transforming it into something beyond just meaning, because the meaning of trauma is always to feel pain, but here you're keeping the materiality of the pain and the meaning is still the pain ...</td></tr>
<tr><td>23</td>	<td>Erase the I</td>	<td>Paint a picture with no one it. ""Who Is the Dreamer Who Dreams the Dream?"

Do you try to erase it? ""Modernism"" is a ""school"" that tries to erase the I.</td>	<td>A project of Language Poetry?

Nirvana in Buddhism</td></tr>
<tr><td>24</td>	<td>Be Painterly</td>	<td>Choose words the way a painter chooses a line. I mean like Twombley ("It's not described, it's happening … The line is the feeling.")</td><td>

Even a straight line represents straightness, lineness, the desire for purity, the desire to dissolve in the object, to represent something other than itself.

Okay, whiteness, reveling in emptiness, which it calls presence, erasing its shameful identity, and who can blame us.</td>	</tr>
<tr><td>25</td>	<td>Materialize the I</td>	<td>"I"" should be a ""character"" like Ï [&#207; or &#8146; or use floral_initial_i.jpg in /images]

This is a nice one too: http://theworldsgreatestbook.com/book-design-part-6/

Which leads to: https://storysailing.com/story-elements/</td>	<td>Typically, I spent more time researching interesting depictions of I's (not to mention eye-emoji), including licensing with payment the floral initial from 123RF.com, than I did on the content of the item (at one point thinking a smudge on the screen was some sort of diacritical mark that Excel had learned to insert whenever I typed ""I"")

In the beginning, of this sentence, is an I.

""In the beginning God created the heaven and the earth"" -- Genesis 1:1

""In the beginning was the Word"" -- John 1:1</td></tr>
<tr><td>26</td>	<td>Avoid Irony</td>	<td>Supercilious winking irony as is a disservice; it distances the naive reader from necessary affect.</td>	<td></td></tr>
<tr><td>27</td>	<td>Don't Write Puzzles</td>	<td>The most boring kind of poem is a puzzle. There's a trick to getting the meaning. I’m confused until I get the trick, then I’m bored. Or, worse, I never get the trick though I know there is one.</td>	<td></td></tr>
<tr><td>28</td>	<td>Liberation from Structure Energizes</td>	<td>Shamed you for it … the structure of abuse … something about transformation by liberation having SO MUCH ENERGY … a mass-to-energy conversion</td>	<td>Trauma, followed by innoculation (the paving over of the self), habits of control, withdrawl -- all supposing (perhaps over-optimistically) that some energy is being suppressed, pent-up, and will one day, has the potential to, EXPLODE</td></tr>
<tr><td>29</td>	<td>Avoid Mythological or Christian Images</td>	<td>It's all been done. Yawn. Worse, the framework impedes novelty.

Unless you change the image into something new. What did Christ think of Isis? Uh oh, Isis. We veer suddenly into the history of the Middle East. Interesting.

Unless the culture is your own? Native-American myths … only work in the mouth of the Native American? What does that mean?</td>	<td>Example: Kelly's Napa Valley, unlike much of her work, where the ""saint's bones"" seem pagan in intent, and ineffectual, powerless, in the face of inscrutable nature (""nature"" not doing justice to eldritch forces that Christians would call evil) … and then there's the context of lynching that permeates the poem even as it is not recognized (might even be ""unintentional"")

Search to see if anybody has written about this; JStor article abstract not about race but mentions ""if Julia Kristeva is right about the importance of our acknowledging our own subjective heterogeneity.

Which leads to an article in the same journal, 
Practicing Deconstruction, Again: Blindness, Insight and the Lovely Treachery of Words in D. H. Lawrence's ""The Blind Man"" 

which leads to a kind of exhaustion .... so Fuck Authority

and then http://www.suburbansoliloquy.com/2012/09/the-heart-dies-of-this-sweetness.html</td></tr>
<tr><td>30</td>	<td>Fuck Authority!</td>	<td>I don't care what you think (said to the voices in my head)</td>	<td>Also, trying to adhere to a rule-set strangles creativity.</td></tr>
<tr><td>31</td>	<td>Liberty</td>	<td>liberté</td>	<td>also sublimity

but also coming back to community after the event, or founding your community on the concept</td></tr>
<tr><td>32</td>	<td>Embrace Layshia I</td>	<td>"I am an outsider even on the inside of every community to which I belong."" -- Layshia Clarendon.
	</td>	<td>https://www.theplayerstribune.com/articles/layshia-clarendon-wnba-faith-sexuality

"The beauty of my whole story is that, for all of the tension between my social and racial identities, faith is what grounds me — even as I work to rectify all of these parts of myself. I feel free of all the identities. If I weren’t gay and black and non-cisgender, I wouldn’t have the same relationship with God that I do. It’s what pushed me to ask questions and seek him in ways I wouldn’t have done otherwise. It’s the one place — my personal relationship with God — where I always feel safe and included and welcome. It’s the place where I don’t have to carry the burden of being black in America. I don’t have to carry the burden of walking into a bathroom and being mistaken for male. I don’t have to carry the burden of wondering whether people are judging me morally for being gay or not."

"I feel freedom and love. That’s God."</td></tr>
<tr><td>33</td>	<td>Embrace Layshia II</td>	<td>
"What I’ve taken away from Clarendon is that intersectional understanding leads to compassion — genuine, action-driven compassion. 
	</td>	<td>https://www.sfgate.com/sports/article/Rod-Benson-The-liberation-of-Layshia-Clarendon-15934276.php?IPID=SFGate-HP-CP-Spotlight</td></tr>
<tr><td>34</td>	<td>Humility is Comfortable</td>	<td>because you can say, I'm not trying to dominate, I'm just here, don't hurt me ….

Humility is sometimes negative self-effacement</td>	<td></td></tr>
<tr><td>35</td>	<td>Create Narrative</td>	<td>Time is everywhere even as it stills or stalls in the present.</td>	<td>Storytelling embodies/creates the community</td></tr>
<tr><td>36</td>	<td>Use computer programs to create the poem.</td>	<td>Where can I do this?</td>	<td>Electronic Poetry" seems extremely unfriendly. Broken links all over the place on the apparently defunct UbuWeb, and their title image is Beckett, d1989--so it's more a website to post versions of modernist artifacts. Similarly The Electronic Poetry Center has links to PDFs (!) on its home page.</td></tr>
<tr><td>37</td>	<td>Escape Typography; Write for the web, primarily</td>	<td>I love to think of the poem as _printed_, all done up in ink on paper, lovely typography, slight golden hue to the page, all that. One of my poems got printed, and is therefore almost impossible to find except I copied it on my site (legally, I think, with attribution). How much more _accessible_ is the poem on the internet. And if your primary venue is digital, why not make use of digital capabilities, or even just conventions?</td>	<td>Writing words in journals lets you draw too.

Space in digital is interesting to produce in a reliable (printable?!) way …</td></tr>
<tr><td>38</td>	<td>Community is Liberation from Oppression</td>	<td>"Without community
there is no liberation, only the most vulnerable and temporary armistice between an
individual and her oppression."" -- Audre Lorde</td>	<td></td></tr>
<tr><td>39</td>	<td>Embrace the Ephemerality of Expectation</td>	<td>Poems are created by potential poets writing within intersections of potential schools.

If your poem is starting to belong to a school ... how does it feel? The poem I mean -- does it feel at home there? Is it better to pull back, contradict, deconstruct?

Quality is more fortuitous than demonstrable, a chance engagement.</td>	<td>Replace "school" with "community"--sounds better, eh?</td></tr>
<tr><td>40</td>	<td>Allow Figures of Speech Their Own Authenticity</td>	<td>Metaphors aren’t metaphors; they are indicators of recapitulation. See D.A. Powell’s remark in the Introduction to Tea, ""I do not understand metaphor."" Or Ocean Vuong saying, ""the practice of metaphor ... is the practice of compassion."" But they are talking about community. Identity is community, and the rights thereof, like me taking Powell's wrenching thought his personal relationships in the context of AIDS (an ""emotional violence"") and turning it into some cryptic literary aphorism; that is, I have no right to do that. Remove ... or discuss.

No word is an empty symbol of a separate reality.</td>	<td>http://intangiblewords.blogspot.com/2020/12/q-on-metaphors.html?m=0

Or creating a third entity from the interplay between material and meaning (Aristotle on metaphor), materiality and the word

Then there is Metaphorgate: https://twitter.com/_abelisaurus_/status/1330057648801198081

Appropriation is not ok … appropriation means taking someone else's authentic expression and _degrading_ it by using it in some unseemly or disgusting manner, for advertising, or bad-faith profiteering ... so how instead can you _converse_ with that expression in a way that honors it even as you stake out your own authentic expression

Link to essay, On Metaphorgate</td></tr>
<tr><td>41</td>	<td>The Audience is with You</td>	<td>Let one speak while the others listen. They will have a turn.</td>	<td></td></tr>
<tr><td>42</td>	<td>Don't Be Boring</td>	<td>Avoid being either too comprehensible or too incomprehensible.

A poem without mystery will be dull by the second reading. Comprehending the obscure is as simple as accepting the a/effect in your body/brain.</td>	<td>This is really rule number one</td></tr>
<tr><td>43</td>	<td>Imagine the History of Consciousness and Speech</td>	<td>A decade-by-decade list of poets and schools nearly (asymptotically!) zeroes out in the context of the whole of human history (imagine such time scales as the Long Now or even the Big Bang). 

What was the first word? Was it the first example of consciousness? What if instead consciousness preceeded materiality?</td>	<td></td></tr>
<tr><td>44</td>	<td>Dreams are Real and Vice-Versa</td>	<td>Dreams may invade reality for better or worse. [picture of qanon shaman in the capitol on 1/6]</td>	<td></td></tr>
<tr><td>45</td>	<td>Work between meaning and materiality</td>	<td>Poetry investigates two moments: the becoming symbol of the word, and the dissolution of the word into materiality.

Words are not separate from things. They are things too.</td>	<td>Not just the journey from material to meaning but _the journey back to material again_

Words Are Things Too</td></tr>
<tr><td>46</td>	<td>Remember Poems Actually Are Dreams</td>	<td>Poems are conduits for the unconscious; what is strange and outside comprehension is the most compelling and the most accurate.</td>	<td>Escaping is Constructing</td></tr>
<tr><td>47</td>	<td>Struggle to Mean</td>	<td>What does it mean" is always a rhetorical question whose answer is "I don't know." But you do, don't you.</td>	<td>Writing as re-enacting trauma

Lee-sen to your body. The body cannot be escaped (though it can be modified, at some cost). Learn from Trans folks.</td></tr>
<tr><td>48</td>	<td>Maintain Integrity</td>	<td>The primary activity, the focus that quiets the mind and its doubts, is the integrity of the activity, of the language, of the experience, of all.

One should care about the reader but only to the extent of maintaining the integrity of the relationship, but without compromise.</td>	<td>Constructing identity is constructing community; you are not alone in this</td></tr>
<tr><td>49</td>	<td>Don't go searching for an image (a lifeless thing) to service an idea (also lifeless)</td>	<td>Ideas are overrated. Aliveness is an expression of vast networks of interactions.

Poetry to re-enact the advent of consciousness and expand to address that vast potential.</td>	<td></td></tr>
<tr><td>50</td>	<td>Treat Writing as an Expanding Conveyance</td>	<td>Meaning expands outward and does not contract. Encourage the flow; let go control.</td>	<td></td></tr>
<tr><td>51</td>	<td>Digress</td>	<td>Poetry tells linear narrative to fuck off and switches off unexpectedly, opening avenues of possibility, recontextualizing what came before. Every line is nice. _Digressing every word_ creates a suggestive collage. Try _every letter_, or every serif or eye (!), or grapheme or morpheme or _mark_ of any kind. Soon you're drawing, self-portrait of a scribbler.</td>	<td>https://designmodo.com/letterform/

Comfort and joy of playing with mud</td></tr>
<tr><td>52</td>	<td>The Body Exists</td>	<td>Your greatest authenticity is your own physical existence, even as it seems so separate from your ego identity</td>	<td>Even if you transform it to match that identity--why Trans folks are so fascinating</td></tr>
<tr><td>53</td>	<td>Say What You Mean</td>	<td>In the final draft no choice of word, no diction, no mark or space, is random. Every mark on the page must have the integrity of intention.

Even if you are intentionally forcing randomness. You're not escaping.</td>	<td>The self you're creating is the one you are signing your name to (talk about anxiety!)</td></tr>
<tr><td>54</td>	<td>Be Authentic</td>	<td>Communicate authentically. Be earnest, humble, and above all straightforward. When possible, speak simply in the common vernacular.</td>	<td></td></tr>
<tr><td>55</td>	<td>Embrace Identity</td>	<td>It's what you have to work with, especially when others have negated it or shamed you for it.

Whiteness, in particular, isn't blankness, or a cypher, or a blank slate, or a desultory playground of relativism. What am I embracing if I embrace: white, male, cis, hetero ... ness?Lots of shit to subvert there, to be read that way, to own and atone one's ""privilege."" But also what else is there ... I am other to that ... I am here ...</td>	<td>Choosing is taking a stand …

Constructing is analyzing what you are given and choosing what to accept (and now, The Serenity Prayer)</td></tr>
<tr><td>56</td>	<td>Employ Every Style</td>	<td>Avoiding style is a style. One has to take a stand or one is nothing, 1=0, a zen koan.

Zen koans are good except when they are boring.

Cohesion is over-rated.</td>	<td>Expectation and Delight

Innovation delights the audience--breaking out of the comfort-zone of the communal, but not too far

Style/Form no longer indicates community</td></tr>
<tr><td>57</td>	<td>Fuck Manifestoes!</td>	<td>Just to get us off on the right foot. </td>	<td>The statement is both an assertion (I am self-confident, I mean what I say) and a retraction (don't hurt me, I didn't really mean it).  Undermining speech is to innoculate from criticism by self-negation. 

I'm not trying to lead a revolution (or am I?). </td></tr>
<tr><td>58</td>	<td>Contradict Yourself</td>	<td>Updating Whitman slightly:

Do they contradict themselves?
Very well then they contradict themselves,
(They are large, they contain multitudes.)</td>	<td>Assert without retracting. This is about inclusion, not irony.

The multitudes within ""myself"" can be loud, obnoxious, inappropriate … what do We (We?) do about Them?

Changing I to They is 1) making plural, 2) making indeterminate, potential positions on a spectrum</td></tr>

</table>

<p><em>Version 2.0.0, 2021.04.14</em></p>

{% endblock %}
