/* ======= Styles for Along the Longing ======= */
/* ======= Extending styles_all.css ======= */

/* ======= Site Color Scheme ======= */

:root {
	--body-background-color: #f0fff0;
	--main-title-color: #560875;
	--nav-item-color: #991414;
	--nav-item-hover-color: #ff6347;
	--dark-zone-color: #89738c;
}

/* ======= Page Layout ======= */

td {
	/* more table styles defined in styles_all.css */
	vertical-align: top;
}

/* Home Page */

.atlHome {
	text-align: center;
	margin: 80px 20px;
}

/* Endnotes */



/* Aphorisms */

.aphoWrap {
	/* overwrites styles_all.css */
	padding: 1rem 10% 1rem;
}

.aphoWrap h1 {
	font-size: 3em;
	margin-left: 1rem;
}

.aphoWrap h2 {
	font-size: 2em;
	margin-left: .5rem;
}

.aphoWrap h3 {
	color: var(--nav-item-color);
	font-size: 1.25em;
	margin-left: .5rem;
}

/* Make content narrow under h3s */
.narrow {
	margin-left: 4rem;
	margin-right: 4rem;
}

.aphoWrap h4 {
	font-weight: bold;
} 

.explainer {
	font-style: italic;
}

.bar_action {
	padding: 1rem 0rem;
}

/* Less space around "Choose a Category" than default p 
       and prevent line breaking within*/
.bar_action > p {
	display: inline;
	font-style: italic;
	margin-left: 4px;
	white-space: nowrap;
}

/* Line Indents */

.ti-1 {
	text-indent: 4rem;
}

.ti-2 {
	text-indent: 8rem;
}

.ti-3 {
	text-indent: 12rem;
}

.endnotes {
	color: #991414;
	border-top: 1px solid black;
	margin: 3em 0em;
	font-style: italic;
}

/* Aphorism Specifics */
/* Reduce padding on narrower screens to maintain line breaks */
@media only screen and (max-width: 400px) {
    .apho {
	    padding: 1rem 1rem;
    }
}
@media only screen and (min-width: 400px) {
    .apho {
	    padding: 1rem 2rem;
    }
}
@media only screen and (min-width: 600px) {
    .apho {
	    padding: 1rem 3rem;
    }
}

.set_header {
	background-color: #62257a;
	border-radius: 6px;
	color: var(--body-background-color);
	margin-top: .5rem;
	padding: .5rem 1em;
}

/* ======= site buttons ======= */

button {
	background-color: var(--body-background-color);
	border: 2px solid var(--nav-item-color);
	border-radius: 7px;
	color: var(--nav-item-color); 
	cursor: pointer;
	display: inline-block;
	margin: 2px;
	padding: 6px 6px;
	text-align: center;
	text-decoration: none;
}

button:hover {
	background-color: #cefdce;
}

button:active {
	background-color: #85fa85;
	color: plum;
}

.setselector {
	background-color: var(--body-background-color);
	color: var(--nav-item-color);
}

/* ======= Manifesto ======= */

.collectionBox {
    padding: 10px 0px;
}

.editMode {
	background-color: palegoldenrod;
	border: solid black 1px;
	/* Oddly display: inline-block makes newlines BR instead of DIV */
	display: inline-block;
	font-size: medium;
	font-weight: normal;
	padding: 1rem;
	width: inherit;
}

.editBar {
	display: inline-block;
	width: 100%;
}

.editBtn {
	background-color: lightskyblue;
	border: 1px solid #727272;
	color: #555555;
	float: right;
    font-size: x-small;
	margin-left: 1rem;
	padding: 1px 6px;
    text-align: right;
    vertical-align: top;
}

.saveBtn {
	background-color: palegreen;
	border: 1px solid #727272;
	color: #555555;
    font-size: small;
	margin-bottom: .5rem;
	margin-left: 1rem;
	padding: 1px 6px;
    text-align: right;
}

.cancelBtn {
	background-color: pink;
	border: 1px solid #727272;
	color: #555555;
    font-size: small;
	margin-bottom: .5rem;
	margin-left: 1rem;
	padding: 1px 6px;
    text-align: right;
}

.itemBox {
    border-top: 1px solid black;
    font-size: x-large;
    font-weight: bold;
    padding: 1rem .5rem;
}

.soundbiteBox {
	/* Show soundbite text next to id */
	/* yet for some reason show under id when editing */
	display: inline;
}

.itemDesc {
    font-size: medium;
    font-weight: normal;
	padding: .5rem 0rem;
}

.itemNotes {
    font-size: medium;
    font-weight: normal;
    padding: 1rem;
}

.notesBox {
    border: 1px solid #999999;
    margin: 1rem;
}

.notesBar {
    background-color: var(--dark-zone-color);
    color: honeydew;
    font-size: small;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 1rem;
}

.notesListBody {
    padding-right: 1.5rem;
}

.showHideButton {
	border: 1px solid var(--dark-zone-color);
	color: var(--dark-zone-color);
    float: right;
    font-size: x-small;
	padding: 1px 6px;
    text-align: right;
    vertical-align: top;
}

.showHideBtnBar {
    margin-bottom: 1.5rem;
}

/* REMOVE WHEN NO LONGER IS USE */

.articleIntro {
    padding: .5rem;
}