/* ======= Styles for Along the Longing ======= */
/* ======= Extending styles_all.css ======= */

/* ======= Site Color Scheme ======= */

:root {
    --body-background-color: #f0fff0;
    --main-title-color: #560875;
    --nav-item-color: #991414;
    --nav-item-hover-color: #ff6347;
}

/* ======= Site Background Color ======= */

body {
    /* Extend background color to entire canvas */
    /* background-color: #ffff70; */
    background-color: var(--body-background-color);
}

/* ======= Page Layout ======= */

/* ======= Title and nav bar ======= */

#main_title {
    color: var(--main-title-color);
}

.nav_item a {
    color: var(--nav-item-color);
  }

.nav_item a:hover {
    color: var(--nav-item-hover-color);
}

/* ======= Subheaders ======= */

/* extends styles_all.css */
.bar_header {   
    color: var(--main-title-color);
}

/* Home Page */

.atl_home {
    text-align: center;
    margin: 100px;
}

/* Endnotes */

.endnotes {
    color: #991414;
    border-top: 1px solid black;
    margin-top: 3em;
    font-style: italic;
}

/* Article Defaults */

.align-r {
    text-align: right;
}

.article h1 {
    font-size: 3em;
    margin-left: 1rem;
}

.article h2 {
    font-size: 2em;
    margin-left: .5rem;
}

.article h3 {
    font-size: 1.5em;
    margin-left: .5rem;
}

.article h4 {
    font-weight: bold;
    font-size: 1.2em;
} 

/* Line Indents */

.ti-1 {
    text-indent: 4rem;
}

.ti-2 {
    text-indent: 8rem;
}

.ti-3 {
    text-indent: 12rem;
}

/* Aphorism Specifics

.apho {
    
}

*/