<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Along the Longing">
    <meta name="keywords" content="poetry">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Along the Longing</title>
    <link rel="stylesheet" 
        href="{{ url_for('static', filename='styles_all.css') }}">
    <link rel="stylesheet" 
        href="{{ url_for('static', filename='styles_atl.css') }}">
	<script src=
        "{{ url_for('static', filename='scripts_all.js') }}"></script>
	<script type="module" src=
        "{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>
    <div id="body_wrap">
        <header id="main_header">
            <div id="main_title">
               Along the Longing
            </div>
            <nav id="nav_bar">
                <div class="nav_item">
                    <a href="http://exultoshores.com">EOS</a>
                </div>
                <div class="nav_item">
                    <a href="/">Home</a>
                </div>
                <div class="nav_item">
                    <a href="/aphorisms">Aphorisms</a>
                </div>
                <div class="nav_item">
                    <a href="/engine">Engine</a>
                </div>
                <div class="nav_item">
                    <a href="/manifesto">Manifesto</a>
                </div>
                <div class="nav_item">
                    <a href="/poems">Poems</a>
                </div>
                <div class="nav_item">
                    <a href="/about">About</a>
                </div>
                {% if current_user.is_authenticated %}
                Welcome {{ current_user.username }}!
                    <div class="nav_item">
                        <a href="/logout">Log Out</a>
                    </div>
                    {% else %}
                    <div class="nav_item">
                        <a href="/login">Log In</a>
                    </div>
                {% endif %}
        </header>

        <section id="main_section">
            <div class="flash_messages">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            {% block content %}
            {% endblock %}
        </section>

        <footer id="main_footer">
			<script>show_footer()</script>
        </footer>
    </div>

</body>

</html>
