<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Along the Longing">
    <meta name="keywords" content="poetry">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Along the Longing</title>
    <link rel="stylesheet" 
        href="{{ url_for('static', filename='styles_all.css') }}">
    <link rel="stylesheet" 
        href="{{ url_for('static', filename='styles_atl.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Spectral|Libre+Baskerville|Open+Sans">
	<script src=
        "{{ url_for('static', filename='scripts_all.js') }}"></script>
	<script type="module" src=
        "{{ url_for('static', filename='main.js') }}"></script>
</head>

<body>
    <div id="bodyWrap">
        <header id="siteTitle">Along the Longing</header>
            <nav>
                <ul>
                    <li>
                        <a href="http://exultoshores.com">EOS</a>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/aphorisms">Aphorisms</a>
                    </li>
                    <li>
                        <a href="/engine">Engines</a>
                    </li>
                    <li>
                        <a href="/manifesto">Manifesto</a>
                    </li>
                    <li>
                        <a href="/poems">Poems</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                {% if current_user.is_authenticated %}
                    <li>
                        Welcome {{ current_user.username }}!
                    </li>
                    <li>
                        <a href="/logout">Log Out</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="/login">Log In</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

        <section id=notifications>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </section>

        <main>
            
            {% block content %}
            {% endblock %}
            
        </main>

        <footer id="pageFooter">
			<script>showPageFooter()</script>
        </footer>
    </div>

</body>

</html>
