{% extends "base.html" %}

{% block content %}

<div class=atlHome>

    <p>and after night<br>
        dark days innumerable<br>
        broke forth and shattered<br>
        against stone<br>
        and shadows fled<br>
        like ripples before the wind
    </p>
    <p>a creek rolls<br>
        low over<br>
        watersmooth stones<br>
        through hills and willows<br>
        and gives way<br>
        to the earth, carrying
    </p>
    <p>the length of longing
    </p>
    <p>deep between the trees<br>
        and even to the sea</p>

</div>

 {% endblock %}
