{% extends "base.html" %}

{% block content %}

<div class=bar_header>Aphorisms for the Neurodivergent</div>

<div class=article>
    <p><em>These are sayings I say to myself<br>
    in order to calm and center my consciousness<br>
    especially during episodes of withdrawl or anxiety.</em></p>
    <p></p>
</div>

<div class=bar_action>
    <button>The Basic Flow</button> <button>All</button> <button>Random</button>
</div>

<div class=article>
	<div class=apho>
		<p>&nbsp;</p>
		<h4>Stop</h4>
	</div>
	<div class=apho>
		<p>Sit quietly</p>
	</div>
	<div class=apho>
		<p class=ti-1>Ask for openness</p>
	</div>
	<div class=apho>
		<p class=xyz>Your job is to feel</p>
	</div>
	<div class=apho>
		<p class=ti-1>Learn from breathing</p>
	</div>
	<div class=apho>
		<p class=ti-2>Letting out is letting go, of thinking</p>
	</div>
	<div class=apho>
		<p>All things pass even to die</p>
	</div>
	<p>&nbsp;</p>
	<div class=apho>
		<p>Time slows</p>
		<p>To the space of a breath</p>
	</div>
	<p>&nbsp;</p>
	<h4>This Is AWARENESS</h4>
	<p>-</p>
	<p>&nbsp;</p>
	<div class=apho>
		<p>the best I can do</p>
		<p>is to take care of myself</p>
		<p>at my worst</p>
	</div>
	<p>&nbsp;</p>
	<div class=apho>
		<p>if all I can do</p>
		<p class=ti-1>is to sit</p>
		<p class=ti-1>lost in confusion</p>
		<p class=ti-2>then so be it</p>
	</div>
	<p>&nbsp;</p>
	<h4>This Is ACCEPTANCE</h4>
	<p>-</p>
	<p>&nbsp;</p>
	<h4>Then, Arrive at an ACTION</h4>
	<div class=apho>
		<p>perform healing tasks</p>
		<p>however small</p>
	</div>
	<p>&nbsp;</p>
	<div class=apho>
		<p>experience</p>
		<p>pleasure, relaxation, comfort</p>
	</div>
	<p>&nbsp;</p>
	<div class=apho>
		<p>fullfill a longing</p>
	</div>
	<p>&nbsp;</p>
	<div class=apho>
		<p>prioritize by doing</p>
		<p>and watching</p>
		<p class=ti-1>what you do</p>
	</div>
	<p>-</p>
	<p>&nbsp;</p>
</div>

<div class=endnotes>
	<p>Notes</p>
    <p>Awareness, Acceptance, and Action
		are known as the "Three A's" in Twelve Step programs.</p>
	<p>"Bring It On," "I love pain," and "Pain sets me free 
		come from The Tools by Phil Stutz and Barry Michels.</p>
	<p>"Openness Gentleness Kindness"
		come from Pema Chodron, The Wisdom of No Escape.</p>
</div>


{% endblock %}
