{% extends "base.html" %}

{% block content %}

<div class=bar_header>Aphorisms for the Neurodivergent</div>

<div class=article>
    <p><em>These are sayings I say to myself<br>
    in order to calm and center my consciousness<br>
    especially during episodes of withdrawl or anxiety.</em></p>
    <p></p>
</div>

<div class=bar_action>
    <button>The Basic Flow</button> <button>All</button> <button>Random</button>
</div>

<div class=article>
	<div class=apho>
		<p>&nbsp;</p>
		<h4>Stop</h4>
	</div>
	<div class=apho>
		<p>Sit quietly</p>
	</div>
	<div class=apho>
		<p class=ti-1>Ask for openness</p>
	</div>
	<div class=apho>
		<p class=xyz>Your job is to feel</p>
	</div>
	<div class=apho>
		<p class=ti-1>Learn from breathing</p>
	</div>
	<div class=apho>
		<p class=ti-2>Letting out is letting go, of thinking</p>
	</div>
	<div class=apho>
		<p>All things pass even to die</p>
	</div>
	<p>&nbsp;</p>
	<div class=apho>
		<p>Time slows</p>
		<p>To the space of a breath</p>
	</div>
	<p>&nbsp;</p>
	<h4>This Is AWARENESS</h4>
	<p>-</p>
	<p>&nbsp;</p>
	<div class=apho>
		<p>the best I can do</p>
		<p>is to take care of myself</p>
		<p>at my worst</p>
	</div>
	<p>&nbsp;</p>
	<div class=apho>
		<p>if all I can do</p>
		<p class=ti-1>is to sit</p>
		<p class=ti-1>lost in confusion</p>
		<p class=ti-2>then so be it</p>
	</div>
	<p>&nbsp;</p>
	<h4>This Is ACCEPTANCE</h4>
	<p>-</p>
	<p>&nbsp;</p>
	<h4>Then, Arrive at an ACTION</h4>
	<div class=apho>
		<p>perform healing tasks</p>
		<p>however small</p>
	</div>
	<p>&nbsp;</p>
	<div class=apho>
		<p>experience</p>
		<p>pleasure, relaxation, comfort</p>
	</div>
	<p>&nbsp;</p>
	<div class=apho>
		<p>fullfill a longing</p>
	</div>
	<p>&nbsp;</p>
	<div class=apho>
		<p>prioritize by doing</p>
		<p>and watching</p>
		<p class=ti-1>what you do</p>
	</div>
	<p>-</p>
	<p>&nbsp;</p>
</div>

<div class=article>
	<div class=apho>
		<p>if there is pain or fear</p>
		<p class=ti-1>"Bring It On"</p>
		<p class=ti-1>"I love pain"</p>
		<p class=ti-1>"Pain sets me free"</p>
	</div>
	<p>&nbsp;</p>
	<div class=apho>
		<p>Hone your awareness of wrongful mechanisms.</p>
	</div>
	<div class=apho>
		<p>Accept the wrongness.</p>
		<p>Feel the pain.</p>
		<p>That is the way to compassion.</p>
	</div>
	<div class=apho>
		<p>When it hurts to decide between the virulent possibilities--do nothing.</p>
	</div>
	<div class=apho>
		<p>It's OK to feel bad.</p>
	</div>
	<div class=apho>
		<p>The highest good is taking care of me.</p>
	</div>
	<div class=apho>
		<p>Prioritize by doing.</p>
	</div>	
	<div class=apho>
		<p>Follow your nose around.</p>
	</div>
	<div class=apho>
		<p>Slow down.</p>
		<p>I'm in no hurry.</p>
		<p>I have no future projection.</p>
	</div> 
	<div class=apho>
		<p>Take time to heal.</p>
	</div>  
	<div class=apho>
		<p>Honor suffering; it is not forever.</p>
	</div> 
	<div class=apho>
		<p>Look under anxiety; there is pain there.</p>
	</div> 
	<div class=apho>
		<p>Don't decide the little choices</p>
		<p class=ti-1>let them happen</p>
		<p class=ti-1>don't control</p>
		<p class=ti-1>let the decisions come to you</p>
	</div> 
	<div class=apho>
		<p>Anxiety doesn't serve.</p>
		<p>You would do the same anyway without it</p>
		<p>so give way and feel under.</p>
	</div> 
	<div class=apho>
		<p>Turn off the clocks.</p>
	</div> 
	<div class=apho>
		<p>My higher power is the endless now.</p>
	</div> 
	<div class=apho>
		<p>It's OK to feel weak</p>
		<p class=ti-1>or wrong</p>
		<p class=ti-2>or small</p>
	</div> 
	<div class=apho>
		<p>Hold yourself in sympathy</p>
		<p class=ti-1>ask for help</p>
		<p class=ti-1>don't try to fix or hide</p>
		<p class=ti-1>letting go leads</p>
		<p class=ti-2>to well-being in the moment</p>
	</div> 
	<div class=apho>
		<p>I can do no wrong.</p>
	</div> 
	<div class=apho>
		<p>I'm not doing anything wrong.</p>
	</div> 
	<div class=apho>
		<p>Everything (I could do)</p>
		<p>is already correct</p>
	</div> 
	<div class=apho>
		<p>Every moment is exactly perfect</p>
		<p>including those when I feel only</p>
		<p class=ti-1>only fear, shame, hyper-vigilance</p>
		<p>use that knowledge to feel under the fear</p>
		<p class=ti-1>and let go</p>
		<p class=ti-1>still perfect</p>
		<p class=ti-2>regardless of result</p>
	</div> 
	<div class=apho>
		<p>I cannot force myself to exist</p>
		<p class=ti-1>in the endless now</p>
		<p class=ti-2>... however ...</p>
		<p class=ti-1>it is easy</p>
	</div> 
	<div class=apho>
		<p>Take breath</p>
		<p>Exhale</p>
		<p class=ti-1>let go all time</p>
	</div> 
	<div class=apho>
		<p>Ask for receptivity</p>
		<p>"Openness Gentleness Kindness"</p>
	</div>
	<div class=apho>
		<p>Shame is the language of the oppressor. Resist!</p>
		<p>Even if&mdash;especially if&mdash;it's in your own head.</p>
	</div>
	<div class=apho>
		<p>Trust in the What</p>
		<p class=ti-1>and the Why will answer itself.</p>
	</div>
	<div class=apho>
		<p>STOP forcing yourself to do what you should.</p>
		<p>DO only that which you want to</p>
		<p class=ti-1>that which gives you pleasure.</p>
	</div>
</div>

<div class=endnotes>
	<p>Notes</p>
    <p>Awareness, Acceptance, and Action
		are known as the "Three A's" in Twelve Step programs.</p>
	<p>"Bring It On," "I love pain," and "Pain sets me free 
		come from The Tools by Phil Stutz and Barry Michels.</p>
	<p>Openness Gentleness Kindness
		come from Pema Chodron, The Wisdom of No Escape.</p>
</div>


{% endblock %}
