{% extends "base.html" %}

{% block content %}

<div class=bar_header>Aphorisms for the Neurodivergent</div>

<div class=article>
    <p><em>These are sayings I say to myself<br>
    in order to calm and center my consciousness<br>
    especially during episodes of withdrawl or anxiety.</em></p>
    <p></p>
</div>

<div class=bar_action>
    <button>The Basic Flow</button> <button>All</button> <button>Random</button>
</div>

<div class=article>
    <p>&nbsp;</p>
    <h4>Stop</h4>
    <p>Sit quietly</p>
    <p class=ti-1>Ask for openness</p>
    <p class=ti-2>Your job is to feel</p>
    <p class=ti-1>Learn from breathing</p>
    <p class=ti-2>Letting out is letting go, of thinking</p>
    <p>All things pass even to die</p>
    <p>&nbsp;</p>
    <p>Time slows</p>
    <p>To the space of a breath</p>
    <p>&nbsp;</p>
    <h4>This Is AWARENESS</h4>
    <p>-</p>
    <p>&nbsp;</p>
    <p>the best I can do</p>
    <p>is to take care of myself</p>
    <p>at my worst</p>
    <p>&nbsp;</p>
    <p>if all I can do</p>
    <p class=ti-1>is to sit</p>
    <p class=ti-1>lost in confusion</p>
    <p class=ti-2>then so be it</p>
    <p>&nbsp;</p>
    <h4>This Is ACCEPTANCE</h4>
    <p>-</p>
    <p>&nbsp;</p>
    <h4>Then, Arrive at an ACTION</h4>
    <p>perform healing tasks</p>
    <p>however small</p>
    <p>&nbsp;</p>
    <p>experience</p>
    <p>pleasure, relaxation, comfort</p>
    <p>&nbsp;</p>
    <p>fullfill a longing</p>
    <p>&nbsp;</p>
    <p>prioritize by doing</p>
    <p>and watching</p>
    <p class=ti-1>what you do</p>
    <p>-</p>
    <p>&nbsp;</p>
</div>

<div class=article>
    <p><em>Note: Awareness, Acceptance, and Action
        are known as the "Three A's" in Twelve Step programs.</em>
    </p>
    <p>&nbsp;</p>
</div>


<!--
    <p>if there is pain or fear</p>
    <p class=ti-1>"Bring It On"</p>
    <p class=ti-1>"I love pain"</p>
    <p class=ti-1>"Pain sets me free"</p>
    <p>&nbsp;</p>
Hone your awareness of wrongful mechanisms                                    
Accept the wrongness. Feel the pain. That is the way to compassion.   
When it hurts to decide between the virulent possibles--do nothing.
-->

{% endblock %}