{% extends "base.html" %}

{% block content %}

<div class=bar_header>Aphorisms for the Neurodivergent</div>

<h3>THIS IS AWARENESS</h3>
<p>Stop</p>
<p>Sit quietly</p>
<p></p>
<p>Ask for openness</p>
<p>Your job is to feel</p>
<p>Learn from breathing</p>
<p>Letting out is letting go of thinking</p>
<p>All things pass even to die</p>
<p>As best you can</p>
<p>Set an intention</p>
<p></p>
<p>Time slows</p>
<p>To the space of a breath</p>
<p></p>
<h3>THIS IS ACCEPTANCE</h3>
<p>the best I can do</p>
<p>is to take care of myself</p>
<p>at my worst</p>
<p></p>
<p>if all I can do</p>
<p>is to sit</p>
<p>lost in confusion</p>
<p>then so be it</p>
<p></p>
<p>if there is pain or fear</p>
<p>"Bring It On"</p>
<p>"I love pain"</p>
<p>"Pain sets me free"</p>
<p></p>
<h3>ARRIVE AT AN ACTION</h3>
<p>perform healing tasks</p>
<p>however small</p>
<p></p>
<p>experience</p>
<p>pleasure, relaxation, comfort</p>
<p></p>
<p>fullfill a longing</p>
<p></p>
<p>prioritize by doing</p>
<p>watching</p>
<p>what you do</p>



<!--
Hone your awareness of wrongful mechanisms                                    
Accept the wrongness. Feel the pain. That is the way to compassion.   
When it hurts to decide between the virulent possibles--do nothing.
-->

{% endblock %}