{% extends "base.html" %}

{% block content %}

<div class=bar_header>Engine: Aphidism</div>

<div class=article>

    <p>Here is a collection of aphidisms (a sort of aphorisms) I have found helpful. I call them "aphidisms" 
        because I have a tendency to stir up the letters in words and make them into other words, 
        some of which are neologisms. (See manifesto, materiality as defense, or The Liberation). 
        "Aphidism" does show up in a google search at this writing (2021-01-06), as follows.</p>

    <p><a href="https://search.upright-music.pl/album/6a203ba1-fa9c-4f52-a50c-a81d592462c3/nojs?orderby=title&order=asc">
        A very cool trance song by the composer Ryan Noble on the album WN010 Warm Cinematic Atmospheres
        on the WotNot label</a></p> 

    <p><a href="https://transcription.si.edu/view/6658/EBOz6">
        A note in a field journal by the naturalist Benjamin Dann Walsh</a>, 
        the state entomologist of Illinois, written between 1860 and 1866. 
        Images of the journal are online at the Smithsonian Transcription Center, 
        where volunteers can digitize the remarks. "Aphidism" is in fact struck through, 
        as the transcription indicates, as the extremely diligent Walsh tries to understand 
        what he is looking at, a powedery substance spread among insect eggs containing lice (???). 
        Such incredible material ... see engine/aphidism.</p>

    <p><a href="https://gigazine.net/gsc_news/en/20100811_insects_sense_danger_on_your_breath">
        A machine translation</a> of an 
        <a href="https://gigazine.net/news/20100811_insects_sense_danger_on_your_breath/">
            article written in Japanese</a> about 
            <a href="https://www.sciencedaily.com/releases/2010/08/100809123532.htm">
                a behavoir of aphids</a> where they let go and fall off a leaf when sensing the breath of a predator.</p>

    <p><a href="https://pubs.usgs.gov/pp/0429b/plate-1.pdf">
        A misreading by a image-to-text processor</a> of the heading "Elphidium", 
        a kind of algae (???), in a coastal geographical survey, including San Francisco, from the fifties.</p>

    <p><a href="https://www.reddit.com/r/awfuleverything/comments/h0xr0c/seen_too_many_cops_and_riots_on_this_sub_heres_an/">
        A comment by loki_hellsson</a> on a post on the subreddit r/awfuleverything with an image of
        "an insect with maggots in it" which is 
        <a href="https://thebuggeek.com/2012/12/13/poop-not-parasites/">actually</a> 
        a cereal leaf beetle larva with a fecal shield that has a worm on it that 
        hatched from an egg deposited in the larva by a wasp.</p>

    <p><a href="https://ktismatics.wordpress.com/2011/07/20/enabling-homelessness/">
        A neologistic insult</a> by "illegal dances of new york city" thrown in an incredibly 
        long (more than 70 pages posted into Word) flame war on the topic of homelessness.</p>

    <p><a href="https://www.deviantart.com/takayanagihiroe/journal/I-m-breaking-up-with-you-236029966?comment=1%3A236029966%3A901292216">
        A comment by koyamori</a> on a post by TakayanagiHiroe about a sort of mad-libs fill-in-the-blank
        form where you answer questions and it has to do with breaking up with someone. The comment is 
        in answer to a question "What is my religion": "Avid believer of the sect of Whitacre, 
        with just a slight inclination for Aphidism."</p>

    <p><a href="http://easy-ciphers.com/amidship">A "cipher" for the word amidship</a>, amid thousands.</p>

    <p>And I'm only getting started ... got to go to therapy ...</p>

    <p>This is so wonderful, utterly engaging way to find the absolute best the internet has to offer, 
        every link a new revelation.</p>

    <p>Note: I lost all track of time while doing this, forgetting to check the
        news. It was January 6, 2021.
    </p>

</div>

{% endblock %}