{% extends "base.html" %}

{% block content %}

<header id=mainHeader>
	<h1>Engine: Cut Your Gibberish</h1>
</header>

<article>

    <p><em>The following is an unpublished (except for here) poem.
  It began as a construction of lines from the Oxford English Dictionary 
  using words that begin with "gib". The lines were then heavily edited.
  </em></p>

  <p><em>Eventually it will become interactive.</em></p>

  <h2>Cut Your Gibberish</h2>
  <p>best  answer chosen by voters <br />
    a  shorter way of saying cut your gibberish<br />
    I am  in a widening shaft of present <br />
    threaten  rapid inarticulate utterances</p>
  <p>gallows  post from which one hangs<br />
    unessential  appendage to stimulate swelling<br />
    mechanical  emulation of vivid processes<br />
    in  everness to coerce presence of alter</p>
  <p>long-armed  ape unintelligible speech<br />
    random  begetting from random fertile <br />
    inebriation  my mother resembles hump <br />
    convex  bale disembowel protuberant </p>
  <p>or incision  the blood inside outside <br />
    culture  an appendectomy leaving lower <br />
    like  strippers at their poles back to back<br />
    brazenly  bordering the parking area</p>
  <p>a  heavy metal strap for fastening <br />
    lacey  if you drunk fuck me for a gib<br />
    then  we can see in metaphor faith<br />
    scoffing  an opera or crush hat </p>
  <p>the  kayak capsized and we swam to shore<br />
    sneering  speech a hooked prolongation <br />
    that  develops during the spawning season<br />
    singing  wolf decomposes alone </p>
  <p>at  the party as usual how does she know <br />
    if  he's g-i-b or a cantelivered <br />
    bearing  surface to reduce friction <br />
    you  must feel lost she said </p>
  <p>in a  moment of vulnerability I declared no<br />
    since  mother was never round nor sweet <br />
    castrated  cat aboriginal cave <br />
    dwelling  to be lost requires a landscape </p>
  <p>a  tetracyclic lactonic acid<br />
    produced  by the fungus fujikuroi<br />
    allowing  the substance to glide<br />
    shearing  pain away from irony</p>

</article>

{% endblock %}